<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register Page</h1>
<div class="select2-container--classic">
    <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" class="button" value="Submit">
    </form>
</div>
</body>
</html>